{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}

<div class="row" style="margin-top:5%;">
 <div class="col justify-content-center" style="text-align:center">
   <h3>Login to View Datasets</h3>
   <a id="loginBtn" href={{ url_for('user.login') }} class="btn btn-outline-primary plotBtn">Login</a><br>
   <a id="registerBtn" href={{ url_for('user.register') }} class="btn btn-outline-primary plotBtn">Register Account</a>
 </div>
</div>

{% endblock %}
