<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>DD2LHC</title>

	<!-- custom -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />

	<!-- bokeh -->
	<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" type="text/css" />
	<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>

	<!-- boostrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- plot -->
	{% if plot_script %}
		{{ plot_script | safe}}
	{% endif %}
</head>

<body class="bg-light text-dark">
	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="#">Navbar</a>
			<a href="http://www.brandeis.edu/departments/physics/" class="btn btn-outline-primary text-white">Brandeis University</a>
			<a href="http://www.brandeis.edu/departments/physics/" class="btn btn-outline-primary text-white">About</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-envelope-o"></i> Contacts</a>
					</li>
				</ul>
				<a class="btn navbar-btn btn-primary ml-2 text-white"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
			</div>
		</div>
	</nav>
	<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
		<div class="container">
			<a class="navbar-brand" href="http://www.brandeis.edu/departments/physics/">&nbsp; &nbsp;Brandeis University - Center for the Dark Universe</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="#">Contact us</a>
					</li>
				</ul>
				<form class="form-inline m-0">
					<input class="form-control mr-2" type="text" placeholder="Search">
					<button class="btn btn-primary" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
<div class="container">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="display-3">DD2LHC
					<br>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="">Dark matter limit comparisons using simplified models</p>
			</div>
		</div>
	</div>

	<hr>

	 <div class="row justify-content-start" style="margin-top:5%;">
  	<div class="col">
  		<h3>How this app works</h3>
  		<ul>
  			<li>Select two or more limit samples</li>
  			<li>Create comparison plot</li>
  			<li>Download PDF for publications.</li>
  			<li>Use XXX to cite us</li>
				<li>TOOL VERY PRELIMINARY YET</li>
  		</ul>
  	</div>

		<div class="col justify-content-end">
			<h3>Upload new dataset</h3>
			<form method="POST" action="/upload" enctype="multipart/form-data">
				{{ dataset_upload.hidden_tag() }}
				{{ dataset_upload.data_file(class="btn btn-default") }}
			<h4>Metadata</h4>
				{{ dataset_upload.radio_inputType }}<br>
			<div style='text-align:right;'>
				{{ dataset_upload.upload_button(class="btn btn-default") }}
			</div>
			</form>
		</div>
	</div>
 <hr>
  <div class="row  justify-content-start" style="margin-top:5%;">
		<div class="col">
			<h3>Select datasets to plot</h3>
			<form method="POST" action="/index" name="dataset_selection">
					{{ dataset_selection.hidden_tag() }}
						{{ dataset_selection.datasets(class="selectpicker") }}
					<br>
					<div style='text-align:right;'>
						{{ dataset_selection.select(class="btn btn-default") }}
					</div>
			</form>
		</div>

		<div class="col justify-content-end">
			<h3>gSM</h3>
				<form method="POST" action="/updateValues">
					gU {{ gSM_refresh.gU_input}}<br>
					gD {{ gSM_refresh.gD_input}}<br>
					gS {{ gSM_refresh.gS_input}}<br>
					<div style='text-align:right;'>
					{{ gSM_refresh.set_button(class="btn btn-default") }}
				</div>
				</form>
		</div>

  </div>
<hr>
	<div class="row justify-content-start" style="margin-top:5%;">
		<div class="col">
			<h3>Selected datasets</h3>
			{% for data in metadata  %}
					{{data['fileName']}}<br>
					{{data['dataLabel']}}<br>
					{{data['dataComment']}}<br>
					<hr>
			{% endfor %}
		</div>
		<div class="col justify-content-end">
			<h3>Selected gSM</h3>
			<p>	gU= {{gSM_gU}}<br>
					gD= {{gSM_gD}}<br>
				  gS= {{gSM_gS}}<br>
			</p>
		</div>


	</div>
<hr>
	<div class="row justify-content-center" style="margin-top:5%;">
	  	<div class="col">
	  		{% if plot_div is defined %}
	  		<h3>The plot</h3>
	  			{{ plot_div | safe }}
	  		{% endif %}
	  	</div>
	</div>

<div class="row justify-content-center" style="margin-top:5%;">
  	<div class="col">
  		{% if data_table is defined %}
  			<h3>The data</h3>
  			{{ data_table | safe }}
  		{% endif %}
  	</div>
</div>



</div> <!-- Container -->
</body>
</html>
