{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}

<div class="row" style="margin-top:5%;">
 <div class="col justify-content-center" style="text-align:left">

   <h1>About</h1>
   <span>This app was developed at Brandeis University to leverage research by Bjoern Penning in the search for Dark Matter. The app leverages a conversion algorithm to compare results between various collider experiments and direct detection experiments. DM Limiter will analyze the selected results and  plot both the simplified model plane and the direct detection plane for comparison.
   </span>



 </div>
</div>

{% endblock %}
