{% extends "layout.html" %}  {# main/main_base.html extends layout.html #}

{% block extra_css %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script type="text/javascript">
		//Collect all the flask variables for use in the main js script
		var selected_datasets_js = {{selected_datasets|tojson}};
		var metadata = [];
		{% for data in allmetadata  %}
		metadata.push({{data|tojson}});
		{% endfor %}
		var plots = {{savedPlots|tojson}};
		var csrf = '{{ csrf_token() | safe }}';
</script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

	<!-- plot  scripts-->
	{% if plot_script1 %}
		{{ plot_script1 | safe}}
	{% endif %}
	{% if plot_script2 %}
		{{ plot_script2 | safe}}
	{% endif %}
	{% if plot_script3 %}
		{{ plot_script3 | safe}}
	{% endif %}

{% endblock %}


{% block content %}


	 <div class="row justify-content-start" style="margin-top:5%;">
  	<div class="col justify-content-start">
  		<h3>How this app works</h3>
  		<ul>
  			<li>Select two or more limit samples</li>
  			<li>Create comparison plot</li>
  			<li>Download PDF for publications.</li>
  			<li>Use XXX to cite us</li>
  		</ul>
  	</div>
		<div class="col justify-content-end">
			<h3>Upload new dataset</h3>
			<form method="POST" action="/upload" enctype="multipart/form-data">
				{{ dataset_upload.hidden_tag() }}
				{{ dataset_upload.data_file(class="btn btn-default") }}
			<div style='text-align:right;'>
				{{ dataset_upload.upload_button(class="btn btn-outline-primary") }}
			</div>
			</form>
		</div>
	</div>

<div class="headerTitle">
	Dataset Selection
</div>

<div class="datainput">
	<form method="POST" action="/dmplotter" name="dataset_selection">
  	<div class="row justify-content-start">
			<div class="col">
				<h3>Select datasets to plot:</h3>
					{{ dataset_selection.hidden_tag() }}
					{{ dataset_selection.datasets(class="selectpicker",**{"onchange":"displayMetadata(this)"}) }}
			</div>

		<div class="col justify-content-end">
			<h3>Conditionally Select Datasets:</h3>
				{{dataset_selection.conditional_input(**{"onchange":"updateConditionalSelect(this)"}) }}
				<h3>Saved Plots:</h3>
				{{ dataset_selection.hidden_tag() }}
				{{ dataset_selection.savedPlots(class="selectpicker",**{"onchange":"selectPlots(this)"}) }}
		</div>

	</div>
	<hr>
	<div class="row justify-content-start">
		<div class="col">
			<div style="display:block;">
			<h3>Filter Datasets</h3>

			<select multiple class='filterBox' onchange="updateFilter(this,'experiment')">
					<option>ATLAS</option>
					<option>CMS</option>
					<option>LUX</option>
			</select>

			<select multiple class='filterBox' onchange="updateFilter(this,'year')">
					<option>2017</option>
					<option>2016</option>
		 	</select>

			</div>
		</div>
	</div>

	<div class="row justify-content-start">
		<div class="col" id='filterDatasets'>
			<!-- Metadata from the filtered datasets will be displayed here. -->
		</div>
	</div>
	<hr>

<div class="row justify-content-start" style="margin-top:10px;">
	<div class="col">
		<h3>Standard Model coupling constant:</h3>
				gSM = {{ dataset_selection.gSM_input}}<br>
		<h3>Spin-Independent Model</h3>
				{{dataset_selection.radio_inputSI}}
	</div>
	<div class="col" style='text-align:right;'>
		<div id="parent">
			<div id="child">

				{{ dataset_selection.select(class="btn btn-outline-primary") }}
			</div></div>
	</div>
</div>
</form>

	<hr>

	<div class="row justify-content-start">
		<div class="col justify-content-start">
			<h3>Dataset Info</h3>
				<div id='datasetInfo'>
				</div>
		</div>
  </div>

</div>

<!-- -->

<div class="headerTitle">
	Comparison Plot
</div>

<div class="datainput">
			<div class="row">
				<div class="col justify-content-right">
					{% if plot_div1 is defined %}
						{{ plot_div1 | safe }}
					{% endif %}
				</div>
				<div class="col justify-content-left">
					{% if plot_div2 is defined %}
						{{ plot_div2 | safe }}
					{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="col justify-content-left">
					{% if plot_div3 is defined %}
						{{ plot_div3 | safe }}
					{% endif %}
				</div>
				<div class="col">
					<input type="text" id="plotName" name="plotName" placeholder="Plot Name"><br>
					<a id="savePlots" href="#" class="btn btn-outline-primary plotBtn">Save Plots</a>
					<hr>
					<a id="showData" href="#" class="btn btn-outline-primary plotBtn">Show Data</a>
					<a id="downloadPDF" href="pdf.html" class="btn btn-outline-primary plotBtn">Download PDF</a>
				</div>
			</div>
			<hr>
	<div class="row justify-content-start" style="margin-top:5%;">
		<div class="col">
			<h3>Selected Datasets:</h3>
			{% for data in metadata  %}
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Filename:</div>
				<div class='col'>{{data['fileName']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Label:</div>
				<div class='col'>{{data['dataLabel']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Comment:</div>
				<div class='col'>{{data['dataComment']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Reference:</div>
				<div class='col'>{{data['dataReference'] | safe}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Experiment:</div>
				<div class='col'>{{data['experiment']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Spin:</div>
				<div class='col'>{{data['spinDependency']}}</div>
			</div>
			<hr>
			{% endfor %}
		</div>
		<div class="col justify-content-end">
			<h3>Selected Standard Model coupling constant:</h3>
			<p>	gSM= {{gSM_gSM}}<br>
			</p>
			<h3>Spin-Independent Model</h3>
			<p>	{{si_modifier}}<br>
			</p>
		</div>
	</div>
</div>

<hr>

		<div class="row justify-content-center" style="margin-top:5%;">
  		<div class="col" id="dataDiv">
  			{% if data_table is defined %}
  				<h3>The data</h3>
  				{{ data_table | safe }}
  			{% endif %}
  		</div>
		</div>

{% endblock %}
