{% extends "layout.html" %}  {# main/main_base.html extends layout.html #}

{% block extra_css %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css" type="text/css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script type="text/javascript">
		//Collect all the flask variables for use in the main js script
		var selected_datasets_js = {{selected_datasets|tojson}};
		var csrf = '{{ csrf_token() | safe }}';
		window.onload = function() {
			setTimeout(function(){ window.print(); }, 500);
		};
</script>


	<!-- plot  scripts-->
	{% if plot_script1 %}
		{{ plot_script1 | safe}}
	{% endif %}
	{% if plot_script2 %}
		{{ plot_script2 | safe}}
	{% endif %}
	{% if plot_script3 %}
		{{ plot_script3 | safe}}
	{% endif %}

{% endblock %}


{% block content %}

<!-- -->

<div class="headerTitle">
	Comparison Plot
</div>

<div class="datainput">
			<div class="row">
				<div class="col justify-content-right">
					{% if plot_div1 is defined %}
						{{ plot_div1 | safe }}
					{% endif %}
				</div>
				<div class="col justify-content-left">
					{% if plot_div2 is defined %}
						{{ plot_div2 | safe }}
					{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="col justify-content-left">
					{% if plot_div3 is defined %}
						{{ plot_div3 | safe }}
					{% endif %}
				</div>
				<div class="col">
					<br>
					<div class='row'>
						<div class='col' style='font-weight:bold'>SM Coupling Constant:</div>
						<div class='col'>gSM= {{gSM_gSM}}</div>
					</div>

					<div class='row'>
						<div class='col' style='font-weight:bold'>Spin-Independent Model:</div>
						<div class='col'>{{si_modifier}}</div>
					</div>

				</div>
			</div>

</div>

<div class="container" id='dm_footer' style="page-break-after:always;">
	<div class="row" style="width:100%;">
		<div class="col justify-content-start" style="text-align: left;">{{ user_manager.USER_APP_NAME }} v1.3 </div>
		<div class="col justify-content-start" style="text-align: center;">Use XXX to cite.</div>
		<div class="col justify-content-end" style="text-align: right;"> &copy; 2018 Brandeis University</div>
	</div>
</div>

<div class="datainput">
	<div class="row justify-content-start" style="margin-top:5%;">
		<div class="col">
			<h3>Selected Datasets:</h3>
			{% for data in metadata  %}
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Filename:</div>
				<div class='col'>{{data['fileName']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Label:</div>
				<div class='col'>{{data['dataLabel']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Comment:</div>
				<div class='col'>{{data['dataComment']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Reference:</div>
				<div class='col'>{{data['dataReference'] | safe}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Experiment:</div>
				<div class='col'>{{data['experiment']}}</div>
			</div>
			<div class='row'>
				<div class='col col-3' style='font-weight:bold'>Spin:</div>
				<div class='col'>{{data['spinDependency']}}</div>
			</div>
			<hr>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
