{% extends "main/main_base.html" %}  {# main/main_base.html extends layout.html #}

{% block content %}
<div class="row" style="margin-top:5%;">
 <div class="col justify-content-center" style="text-align:left">

   <h1>Theory</h1>
   <span>We know that about 27% of our Universe's energy content is composed of an unknown form of matter - dark matter (DM) - that is entirely different from the normal matter which contributes just about 5%.  The evidence for DM is strong and consistent across all scales from the galactic to the cosmological. DM has not yet been directly observed and it will be one of the most important discoveries in fundamental physics. However, all current evidence for DM is purely of gravitational nature. Why then should we use colliders, in particular hadron colliders where particles are mainly produced via the strong force, to search for DM?
   </span>



 </div>
</div>
{% endblock %}
